body{
    margin: 0;
    padding:0;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding:  0 60px;
    overflow: hidden;
    height: 60px;
    background-color: #535454;
    overflow: visible;
    position: relative;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a img{
    width: 150px;
    height: 60px;
    position: absolute;
    
  }

  #developer {
    position: absolute;
    right: 30px;
    top: 26px;
  }


/* Animation Section */

#animation {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  #animation .row{
    position: relative;
    display: flex;
    width: 100%;
    white-space: nowrap;
    padding: 10px 0;
    font-size: 48px;
    transform: rotate(-30deg);
    top: -60%;
  }

#animation i{
    color: #f5f5f5;
    transition: 1s;
    padding: 0 5px;
    user-select: none;
    cursor: default;
}

#animation i:hover{
    transition: 0s;
    color: #ff0000;
    text-shadow: 0 0 120px #ff0000;
}

#animation .row div{
    animation: animate1 80s linear infinite;
    animation-delay: -80s;
}

#animation .row div:nth-child(2){
    animation: animate2 80s linear infinite;
    animation-delay: -40s;
} 

@keyframes animate1
{
    0%
    {
        transform: translateX(100%);
    }
    100%
    {
        transform: translateX(-100%);
    }
}

@keyframes animate2
{
    0%
    {
        transform: translateX(0%);
    }
    100%
    {
        transform: translateX(-200%);
    }
}

#animation .row:nth-child(even) div{
    animation: animate3 80s linear infinite;
    animation-delay: -80s;
}

#animation .row:nth-child(even) div:nth-child(2){
    animation: animate4 80s linear infinite;
    animation-delay: -40s;
} 

@keyframes animate3
{
    0%
    {
        transform: translateX(-100%);
    }
    100%
    {
        transform: translateX(100%);
    }
}

@keyframes animate4
{
    0%
    {
        transform: translateX(-200%);
    }
    100%
    {
        transform: translateX(0%);
    }
}

/* Product Input Section */
#prod_input_box{
    position: absolute;
    top:30%;
    left: 22%;
    width: 810px;
    height: 250px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 0 5px #c9c8c8;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 30px;
    display: flex;
    justify-content: center;
}

#prod_input_box #hdr{
    font-size: 38px;
    font-weight: bold;
}
#prod_input_box p{
    width: 670px;
    margin-top: 18px;
    font-size: 14px;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.48);
}

#prod_input_box #prod_input{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#prod_input input{
    width: 50%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid rgba(197, 190, 190, 1);
    outline: none;
    align-self: center;
}

#prod_input span{
    position: absolute;
    padding: 12px;
    left: 29%;
    color: rgba(197, 190, 190, 1);
    pointer-events:none;
}
#prod_input input:valid~span{
    display: none;
}

#crawl_btn{
    margin-top: 28px;
    width: 120px;
    height: 32px;
    background-color: #5FD1F5;
    padding: 10px 15px;
    font-size: 14px;
    text-align: center;
    position: relative;
    left: 40%;
    border-radius: 5px;
    cursor: pointer;
    translate: 0.2s;
}

#crawl_btn span{
    position: relative;
    top: 22%;
    color: white;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.2px;
}

#crawl_btn:hover{
    background-color: #FEE501;
    box-shadow: 0 0 5px rgb(150, 148, 148, 0.25);
    width: 122px;
    height: 34px;
    transform: translateX(-2px) translateY(-2px);
}